$wall-background: #E5C38B;
$clock-background: #6DB7C1;
$clock-border: #0E475A;

$second-hand: #D85534;
$min-hand: #027C91;
$hour-hand: #0E475A;

body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.backcolor{
  background-image: url("http://vignette3.wikia.nocookie.net/phobia/images/5/53/Clouds.jpg/revision/latest?cb=20170123161554");
  background-size: 1500px;
  background-repeat: no-repeat;
  size: 100%;
  height: 60em;
}
.clock{
	width: 350px;
	height: 350px;
	border-radius: 50%;
  margin: auto;
  margin-top: 6em;
	background-image: url("https://uploads2.wikiart.org/images/vincent-van-gogh/the-starry-night-1889(1).jpg") ;
  background-size: 40em, 40em;
  background-repeat: no-repeat;
	border: 10px black solid ;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);


}
	.hand{
    position: absolute;
    margin: auto;
    top : 21em;
    left: 50%;
		transform: translate(-50%, -100%);
		transform-origin: center bottom;
		border-radius: 40px;
}
	.s-hand{

		height: 155px;
		width: 5px;
		background-color: black;
		z-index: 5;
  }
	.m-hand{
		height: 135px;
		width: 10px;
		background-color: gold;
		z-index: 4;
  }
	.h-hand{
		height: 100px;
		width: 14px;
		background-color: gold;
		z-index: 3;
  }
	.center{
		background-color: black;
		width: 20px;
		height: 20px;
		border-radius: 50%;
	  position: absolute;
	  top : 21em;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 6;
  }

    .select-hidden {
      display: none;
      visibility: hidden;
      padding-right: 10px;
    }

    .select {
      cursor: pointer;
      display: inline-block;
      position: relative;
      font-size: 16px;
      color: $select-color;
      width: $select-width;
      height: $select-height;
    }
    .select-styled {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $select-background;
      padding: 8px 15px;
      @include transition(all 0.2s ease-in);
      &:after {
        content:"";
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-color: $select-color transparent transparent transparent;
        position: absolute;
        top: 16px;
        right: 10px;
      }
      &:hover {
        background-color: darken($select-background, 2);
      }
      &:active, &.active {
        background-color: darken($select-background, 5);
        &:after {
          top: 9px;
          border-color: transparent transparent $select-color transparent;
        }
      }
    }

    .select-options {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      z-index: 999;
      margin: 0;
      padding: 0;
      list-style: none;
      background-color: darken($select-background, 5);
      li {
        margin: 0;
        padding: 12px 0;
        text-indent: 15px;
        border-top: 1px solid darken($select-background, 10);
        @include transition(all 0.15s ease-in);
        &:hover {
          color: $select-background;
          background: $select-color;
        }
        &[rel="hide"] {
          display: none;
        }
      }
    }

    .wake_up_time{
      height: 10em;
      margin: auto;
      margin-left: 30%;
      margin-top: 4em;
      position: absolute;
      font:  Helvetica;
      font-size: 2em;
    }
    .changeB , .timeSlot{
      background: white;
      color:#333333;
      border-radius: 8px;
      border-width: 3px;
      box-shadow: 0 1px #666;
    }
    .timeSlot{
      width: 6em;
    }
    h2
    {
    margin: auto;
    }

    #override .navbtn:hover {
    background-color:SteelBlue; 
}

#override .navbtn{
  border-radius: 0.25em;
  margin: 1.5em 0.5em 1.5em 0em;
  width: 9em;
  height: 2em;
  display: inline-block;
  background-color: MediumAquaMarine;
  border: none;
  text-align: center;
  font-family: Arial, "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1em;
  transition: all 0.5s;
  cursor: pointer;
  align-items: center;
  box-shadow:
        inset 0 0 2px 0 rgba(255,255,255,.4),
        inset 0 0 3px 0 rgba(0,0,0,.4),
        inset 0 0 3px 5px rgba(0,0,0,.05),
        2px 2px 4px 0 rgba(0,0,0,.25);
}


#override .navbtn span {
  cursor: pointer;
  color: white;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  vertical-align: middle;
  bottom: 0.8em;
}

#override .navbtn:hover {
  background-color: SteelBlue;
}

#override #logoutbtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -40px;
  transition: 0.5s;
}

#override #logoutbtn:hover span {
  padding-right: 25px;
}

#override #logoutbtn:hover span:after {
  opacity: 1;
  right: 0;
}

.navbar {
    font-size: 14px;
    background: rgba(220, 220, 220, 0.9);
    border: none;
}
