body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color:#2f323b;
}

#backbtn {
	display: none;
	text-align: center;
	margin: auto;
	margin-bottom: 1em;
	border-radius: 0.5em;
	background: linear-gradient(#18aad9,#007ce2);
	width:7em;
	height:2.5em;
	font-size:1.5em;
	font-family: Helvetica, Arial, sans-serif;
	color:white;
	padding-top:0.5em;
}

#mainNav {
	height: 5em;
	background: rgba(220, 220, 220, 0.9);
}

.header
{
	color:#a087ff;
	font-size: 4em;
	margin-top: 0em;
	box-shadow: 2em;
	display: inline-block;
}
#tempplot {
	transition: all 1s;
}

.varbtn:focus {
	outline:none;
	background: linear-gradient(#a087ff,#a087ff);
	color: white;
}

.varbtn:hover {
	background: linear-gradient(#a087ff,#a087ff);
	color: white;

}

.varrow {
	margin: 3em 2em;
}

.col {
	display: inline;
	margin: 1.5em 2em;
	transition: all 0s;
}

.contain {
	text-align: center;
}

#varcontent {
	color: white;
	text-align: center;
	margin: 2em 0em 0em 0em;
	display: none;
	font-family: Arial, "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 3em;
}

.addvarbtn {
	height: 5em;
	width: 10em;
	margin: 1em 0em 0em 4.9em;
	display: inline-block;
	border-radius: 0.5em;
	background-color: AliceBlue;
}

.addvarbtn:hover {
	background-color: gainsboro;
}

.addvar-value, .addvar-type {
	line-height: 2em;
}

.addvar-value {
	line-height: 0em;
	font-size: 3em;
}

.addvar-type {
	font-size: 1em;
	margin-top: 1em;
}

.varbtn {
	height: 12em;
	width:17em;
	border-radius: 1em;
	background: linear-gradient(#18aad9,#007ce2);
	border: none;
	transition: all 0s;
	color: lightgrey;
	border-radius: 2em;
	background-color: gainsboro;
	border: none;
	transition: all 0.5s;
}

.var-value {
	line-height: 1em;
	font-size: 5em;
	text-align: center;
}


.var-type {
	font-size: 2em;
	text-align: center;
	color: black;
}


#var1-value {
	margin-left: 0.32em;
}

#var-container {
	margin-top: 4em;
}



#override .navbtn:hover {
    background-color:SteelBlue; 
}

#override .navbtn{
  border-radius: 0.25em;
  margin: 1.5em 0.5em 1.5em 0em;
  width: 9em;
  height: 2em;
  display: inline-block;
  background-color: MediumAquaMarine;
  border: none;
  text-align: center;
  font-family: Arial, "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1em;
  transition: all 0.5s;
  cursor: pointer;
  align-items: center;
  box-shadow:
        inset 0 0 2px 0 rgba(255,255,255,.4),
        inset 0 0 3px 0 rgba(0,0,0,.4),
        inset 0 0 3px 5px rgba(0,0,0,.05),
        2px 2px 4px 0 rgba(0,0,0,.25);
}


#override .navbtn span {
  cursor: pointer;
  color: white;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  vertical-align: middle;
  bottom: 0.8em;
}

#override .navbtn:hover {
  background-color: SteelBlue;
}

#override #logoutbtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -40px;
  transition: 0.5s;
}

#override #logoutbtn:hover span {
  padding-right: 25px;
}

#override #logoutbtn:hover span:after {
  opacity: 1;
  right: 0;
}

.navbar {
    font-size: 14px;
    background: rgba(220, 220, 220, 0.9);
    border: none;
}






