body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color:#2f323b;
}

#backbtn {
	display: none;
	margin: auto;
	margin-bottom: 1em;
	border-radius: 0.5em;
	background: linear-gradient(#18aad9,#007ce2);
	width:7em;
	height:2.5em;
	font-size:1.5em;
	font-family: Helvetica, Arial, sans-serif;
	color:white;
	padding-top:0.5em;
}

.header
{
	color:#a087ff;
	font-size: 4em;
	margin-top: 1em;
	box-shadow: 2em;
}
#tempplot {
	transition: all 1s;
}

.varbtn:focus {
	outline:none;
	background: linear-gradient(#a087ff,#a087ff);
	color: white;
}

.varbtn:hover {
	background: linear-gradient(#a087ff,#a087ff);
	color: white;

}

.varrow {
	margin: 3em 2em;
}

.col {
	display: inline;
	margin: 1.5em 2em;
	transition: all 0s;
}

.varbtn:hover {
	background-color: slategrey;
}

.contain {
	text-align: center;
}

.varbtn {
	height: 12em;
	width:17em;
	border-radius: 1em;
	background: linear-gradient(#18aad9,#007ce2);
	border: none;
	transition: all 0s;
	color: lightgrey;
	border-radius: 2em;
	background-color: gainsboro;
	border: none;
	transition: all 0.5s;
}

.var-value {
	line-height: 1em;
	font-size: 5em;
	text-align: center;
}


.var-type {
	font-size: 2em;
	text-align: center;
	color: black;
}


#var1-value {
	margin-left: 0.32em;
}

#var-container {
	margin-top: 4em;
}

