body {
  padding-top: 50px;
  padding-bottom: 20px;
}

#tempplot {
	transition: all 3s;
}

.varbtn:focus {
	outline:none;
	background-color:slategrey;
}

.varbtn:hover {
	background-color: slategrey;
}

.col {
	display: inline-block;
	margin: 2em 2em;
	transition: all 2s;
}

.contain {
	text-align: center;
}

.varbtn {
	height: 12em;
	width:17em;
	border-radius: 2em;
	background-color: gainsboro;
	border: none;
	transition: all 0.5s;
}

.var-value {
	line-height: 1em;
	font-size: 5em;
	text-align: center;
}


.var-type {
	font-size: 2em;
	text-align: center;
}


#var1-value {
	margin-left: 0.32em;
}

#update_button {
	margin-top: 3em;
}

#var-container {
	margin-top: 4em;
}

#row-2 {
	margin-top: 4em;
}


