<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Pricing Table</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
      <link rel="stylesheet" href="../css/pricing.css">

  
</head>

<body>
  	<div class="container group">
		<div class="grid-1-5">
			<h2>Trial</h2>
			<h3><span class="uppercase">Free</span></h3>
			<p>30 Free Days</p>
			<ul>
				<li>Full Features</li>
				<li>Advertisements</li>
				<li>Trial Version</li>
			</ul>
			<a href="dashboard.html" class="button">Sign Up</a>
		</div>
		
		<div class="grid-1-5">
			<h2>Basic</h2>
			<h3><sup>$</sup>3<span class="small">/mo</span></h3>
			<p>Full Access</p>
			<ul>
				<li>Full Features</li>
				<li>Advertisements</li>
			</ul>		
			<a href="dashboard.html" class="button">Sign Up</a>	
		</div>
		<div class="grid-1-5">
			<h2>Pro</h2>
			<h3><sup>$</sup>5<span class="small">/mo</span></h3>
			<p>Full Access</p>
			<ul>
				<li>Full Features</li>
				<li>No Advertisements</li>
			</ul>	
			<a href="dashboard.html" class="button">Sign Up</a>		
		</div>
			
	</div>
  
  
</body>
</html>
